.IMC{
    position: absolute;  
    background-color: none;
}
.IM_one{
    height: 100%;
    border-left: 1px dashed #dbdbdb94;
    box-sizing: border-box;
}
.IM_two{
    width: 100%;
    border-top: 1px dashed #dbdbdb94;
    box-sizing: border-box;
}