*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.Background_Rect{
    width: calc(100vw - 10px);
    height: 100vh;
    max-height: 500px;
    max-width: 420px;
    position: relative;
    outline: 2px dotted #bb27ff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}

.Image_Rect{
    width: 350px;
    height: 650px;
    outline: 2px dotted #ff0080;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Cropper_Rect{
    outline: 100vh solid#2729285d;
    /* outline: 1px dashed #008f47; */
    /* left: 210; */
    z-index: 1;
    cursor: move;
    /* position: relative; */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tensile{
    position: absolute;
    /* background-color: #00ffaa6e; */
}
.tensile_R{
    height: 100%;
    width: 1px;
    border-left: 1px dashed #00ff80;
    box-sizing: border-box;
    right: -1px;
    position: absolute;
}
.tensile_B{
    height: 1px;
    width: 100%;
    border-top: 1px dashed #00ff80;
    box-sizing: border-box;
    bottom: -1px;
}
.tensile_L{
    height: 100%;
    width: 1px;
    border-right: 1px dashed #00ff80;
    box-sizing: border-box;
    left: -1px;
}
.tensile_T{
    height: 1px;
    width: 100%;
    border-bottom: 1px dashed #00ff80;
    box-sizing: border-box;
    top: -1px;
}


/* MOVER DESIGN */
.mover{
    position: absolute;
    /* background-color: purple; */
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    height: 100%;
    width: 100%;
    z-index: 10;
}
.mover::before{
    content: "";
    position: absolute;
    background-color: #12e084;
    height: 10px;
    width: 10px;
    z-index: 5;
}
.mover::after{
    content: "";
    height: 30px;
    width: 30px;
    position: absolute;
    /* background-color: #53cc9554; */
}
.mover_e{
    height: calc(100% - 30px);
    width: 10px;
    left: calc(100% - 5px);
    top: calc(- 15px);
    cursor: e-resize;
}
.mover_se{
    height: 30px;
    width: 30px;
    left: calc(100% - 15px);
    top: calc(100% - 15px);
    z-index: 2;
    cursor: se-resize;
}
.mover_s{
    height: 10px;
    width: calc(100% - 30px);
    left: calc(- 15px);
    top: calc(100% - 5px);
    cursor: s-resize;
}

.mover_sw{
    height: 30px;
    width: 30px;
    left:  -15px;
    top: calc(100% - 15px);
    z-index: 2;
    cursor: sw-resize;
}
.mover_w{
    height: calc(100% - 30px);
    width: 10px;
    left:  -5px;
    top: calc(- 15px);
    cursor: w-resize;
}
.mover_nw{
    height: 30px;
    width: 30px;
    left:  -15px;
    top: -15px;
    z-index: 2;
    cursor: nw-resize;
}
.mover_n{
    height: 10px;
    width: calc(100% - 30px);
    left:  calc(- 15px);
    top: -5px;
    cursor: n-resize;
}
.mover_ne{
    height: 30px;
    width: 30px;
    left:  calc(100% - 15px);
    top: -15px;
    z-index: 2;
    cursor: ne-resize;
}
